{% extends 'base.html' %}

{% block content %}

<br><br><br><br><br><br><br>
<div class="row">
    <div class="col">
        <div id="google_map">
            <div class="map_container">
                <div id="map">
                    <center><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126904.59866874153!2d-75.59281609682007!3d6.2940979849252425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e443b4f89dff3c9%3A0xe968a564e8a97690!2sCAZUELAS%20TORREJUAN!5e0!3m2!1ses-419!2sco!4v1667425077552!5m2!1ses-419!2sco"
                            width="1109" height="505" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe></center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->

<div class="row">
    <div class="col contact_col">
        <div class="contact_contents">
            <center>
                <h1>Contáctenos</h1>
                <p>Hay muchas formas de contactarnos. Puede escribirnos, llamarnos, elija lo que más le convenga.</p>
                <div>
                    <p>Numero: 302 8348422</p>
                    <p>Correo electrónico: cazuelastorrejuan@gmail.com</p>
                </div>
                <div>
                    <p>Horario de atención: 9:30am-5:30pm de lunes a domingo</p>
                    <p>Dirección: Cl. 7 #18-72, Girardota, Antioquia</p>
            </center>
        </div>
    </div>
</div>
</div>

{% endblock content %}